/* ====================================================================================================================
 * Media Queries
 * ====================================================================================================================*/

.mmx-xs-iblock {
    display: inline-block;
}

ul.slimmenu li i {
    display: none;
}

@media (min-width: 992px) {
    .mmx-xs-iblock {
        display: none;
    }
}


@media (max-width: 999px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }

    a.mmx-private {
        font-size: 0.7rem;
    }

    ul.slimmenu li a {
        line-height: 36px !important;
    }

    .mob-logo {
        position: absolute;
        left: 0px;
    }

    ul.slimmenu {

        width: 85%;
        margin: 0 auto;
    }

    ul.slimmenu li .sub-toggle {

        position: absolute;
        right: 0;
        top: 3px;
        z-index: 999;
        width: 25%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
    }

    .mmx-angle-down:before {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        right: -20px;
        top: 0px;
        position: relative;
    }

    ul.slimmenu.collapsed li .sub-toggle {
        height: 35px;
    }

    .mmx-top {
        line-height: 30px;
    }


    .mmx-angle-down {
        position: absolute;
        right: 0px;
    }



}

@media (max-width: 768px) {

    .sec-title {
        font-size: 1.5rem;
    }

    .m-t4 {
        margin-top: 0rem
    }

    .on-pre.p1 {
        right: 5%;
        top: 25%;
        color: #C40D11;
        text-align: right;
    }

    .on-pre {
        width: 60%;
        position: absolute;
        z-index: 98;
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1rem;
    }

    .mx-mini-box .mini-box-txt p {
        color: #393939;
        font-size: 0.8rem;
    }


}

@media (max-width: 500px) {
    ul.slimmenu {

        width: 100%;
    }

    ul.slimmenu li .sub-toggle {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
        position: absolute;
        right: 0;
        top: 3px;
        z-index: 999;
        width: 25%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
    }

    .mmx-angle-down:before {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        right: 7px;
        top: 0px;
    }

    ul.slimmenu.collapsed li .sub-toggle {
        height: 35px;
    }

    .mx-mini-box .mini-box-txt h5 {
        font-size: 0.9rem;
    }

    .menu-collapser {
        width: 45%;
    }

    .left-prev {
        right: 10%;
    }

    .on-pre {

        font-size: 1.5rem;
    }

    span.ersistem {
        font-size: 0.7rem;
    }

    a.mmx-private {

        font-size: 0.7rem;
        margin-left: 0.7rem;
    }

    .mmx-banner {
        margin-top: 50px;

    }

    .free-cap {
        width: 240px;
        height: 40px;
        font-size: 0.9rem;
        top: 21%;
        padding: 10px;
    }

    .mmx-address h3 {
        font-weight: 700;
        margin-bottom: 2rem;
        font-size: 1.50rem;
    }


    .mmx-b-title {
        font-size: 1.50rem;
    }

    .mmx-span1:before {
        top: 22px;
    }

    .mmx-span1:after {
        margin-left: 6px;
    }

    .mmx-span2:after {
        margin-right: 7px
    }

    .mmx-span2:before {
        bottom: 23px
    }

    #main-carousel .mx-carousel-control-prev:after {

        margin-top: 100px;
    }

    #main-carousel .carousel-item img {

        height: 300px;
    }

    .sec-title {
        font-size: 1.3rem;
    }

    .mmx-caption-block {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .mmx-caption-block.mmx-ex {
        overflow: hidden;
        height: 150px;
    }

    .fo-logo {
        width: 40%;
    }

    .mmx-img-fluid2 {
        max-width: 30%;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 9% !important;
    }

    .mmx-content-title .free-cap {
        display: none
    }

    .mmx-banner img {
        height: 160px;
    }

    .mmx-title {
        top: 25%
    }

    .mt-5, .my-5 {
        margin-top: 1.5rem !important;
    }

    .flex-control-thumbs img {
        height: 100px;
    }
}

@media (max-width: 320px) {


}
