@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
    margin: 0px;
    padding: 0px !important;
    border: 0px;
    font-family: 'PT Sans', sans-serif !important;
    color: #000;
    overflow-x: hidden !important;
}

/*general color

red : #C40D11
gray-font-color: #585855

*/

/*index-slider*/
#main-carousel {
    width: 100%;
}

/*index-slider*/

/*Setting*/
.font12 {
    font-size: 12px;
}

.btn-submit {

    width: 100%;
    height: 46px;
    text-align: center;
    border-radius: 10px;
}

.m-t4 {
    margin-top: 1.5rem
}

.pb-4 {
    padding-bottom: 4rem;
}

.p-1 {
    padding: 1rem;
}

.img-fluid {
    max-width: 100%;
}

.btn-danger {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.btn-danger:hover {
    background: #585855;
}


.mmx-img-fluid {
    max-width: 80%;
}

.mmx-img-fluid2 {
    max-width: 60%;
}

.m-b3 {
    margin-bottom: 27px;
}

.bg-one {
    background-color: #F3F3F3;
}

.bg-two {
    background: rgba(255, 255, 255, 0.90)
}

.bg-three {
    background: #4B4B49
}

.bg-four {
    background: #5C5C5C
}

/*IcoSet*/
.mdi.mdi-chevron-down:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/ico-down.svg");
    display: inline-block;
}

.mdi-flip-v:after {
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg);
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 1px 5px 5px #50505008
}


.mmx-dics {
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: 99;
    background: #fff;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    padding: 15px;
}

.mmx-dics-title {
    color: #585855;
    text-align: center;
}

.mmx-dics-phone {
    background: #C40D11;
    color: #fff;
    width: 80%;
    display: block;
    padding: 5px;
    border-radius: 5px;
    position: relative !important;
}

.mmx-dics-exp {
    display: block;
    color: #585855;
    margin-top: 10px;
    font-size: 13px;
    position: relative !important;
}


.sec-title {
    margin: 30px 0px;
    text-align: center;
    color: #585855;
}

.sec-title:after {
    position: relative;
    content: '';
    background: #C40D11;
    width: 110px;
    height: 3px;
    display: block;
    margin: 0 auto;
}


.on-pre {
    width: 40%;
    position: absolute;
    z-index: 98;
    font-size: 2rem;

}

.on-pre.p1 {
    right: 5%;
    top: 30%;
    color: #C40D11;
    text-align: right;

}

.on-pre.p2 {
    color: #fff;
    right: 5%;
    top: 40%;
    text-align: right;
}

.on-pre.p3 {
    color: #fff;
    width: 100%;
    bottom: 3%;
    text-align: center;
}

.on-pre.p3 p {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

.left-prev {
    right: 5%;
    top: 5px;
    left: auto !important;
    width: 5%;
}

.right-next {
    top: 5px;
    width: 5%;
}

.right-next:after, .left-prev:after {
    width: 35px !important;
    height: 35px !important;
    background-repeat: no-repeat;
    background-color: #585855;
    transition: 0.9s all;

}

.right-next:hover:after, .left-prev:hover:after {

    background-color: #C40D11;

}

.mx-carousel-control-prev, .mx-carousel-control-next {
    background-image: none !important;
    top: 50%;
}

.mx-carousel-control-prev:after {
    content: '';
    background-image: url(../img/ico-arrow.svg);
    display: inline-block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;

}

.carousel-control-next, .carousel-control-prev {
    width: 10% !important;
    opacity: 1 !important;
}

.mx-carousel-control-next:after {
    content: '';
    background-image: url(../img/ico-arrow.svg);
    display: inline-block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg);
}

.mx-mini-box {
    display: block;
    width: 100%;
    box-shadow: 0px 1px 3px #e4e4e4;
    height: 100%;
    padding-bottom: 20px;
    position: relative;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -ms-transition: 1s all;
    transition: 1s all;
}

.mx-mini-box:hover {
    text-decoration: none;
    box-shadow: 0px 1px 2px #adadad
}

.mx-mini-box .mini-box-txt {
    padding: 10px;
    text-align: center;
}

.mx-mini-box .mini-box-txt h5 {
    color: #C40D11;
    font-size: 1.1rem;
}

.mmx-product .mx-mini-box .mini-box-txt h5 {
    color: #585855;
}

.mx-mini-box .mini-box-txt p {
    color: #393939;
}

.mx-mini-box .mini-box-txt p.more {
    text-align: right;
    color: #C40D11;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    right: 15px;
}

.mmx-all-product {

    color: #000;
    text-align: right;
    transition: 1s all;
    display: block;
    padding-top: 15px;
    font-size: 0.8rem;
}

.mmx-all-product:hover {
    text-decoration: none;
    color: #C40D11;
}

footer {
    padding-top: 40px;
}

.mmx-fo-box {
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}


.fo-logo {
    width: 65%;
    margin-bottom: 20px;
}

.mmx-fo-title {
    text-align: center;
}

.mmx-fo-txt {

    padding: 30px 0px 0px 30px;
}

.mmx-fo-txt p {
    text-align: left;

}

.mmx-fo-title:after {
    position: relative;
    content: '';
    background: #C40D11;
    width: 50px;
    height: 3px;
    display: block;
    margin: 5px auto;
}

.mmx-social {
    padding-left: 0px;
    margin: 30px auto;
    display: block;
    text-align: center;


}

.mmx-social > li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;

}


.mmx-social > li a {
    color: #fff;
    background: #3A3A38;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 5px;
    display: inline-block;
    transition: 1s all;

}

.mmx-social > li a:hover {
    background: #C40D11;
    color: #3A3A38;
}

span.ersistem {
    color: #fff;
    font-size: 0.8rem;
    margin: 0px;

}


span.ersistem span {
    color: #ff0000;
}

a.mmx-private {
    color: #fff;
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 1rem;
    position: relative;
}

a.mmx-private:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background: #fff;
    top: 2px;
    left: -10px;
}

.mmx-logo a img {
    float: right;
    width: 15%;
    padding-top: 5px;
}

/*MENU*/
.menu-collapser {
    position: relative;
    width: 75%;
    height: 48px;
    padding: 0 8px;
    color: transparent;
    font-size: 16px;
    line-height: 48px;

}

.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    padding: 7px 10px;
    color: #FFFFFF;

    text-align: center;
    background-color: #0E0E0E;
    border-radius: 2px;
    cursor: pointer;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.collapse-button:hover, .collapse-button:focus {
    color: #FFF;
    background-color: #040404
}

.collapse-button .icon-bar {
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
    background-color: #F5F5F5;
    border-radius: 1px
}

ul.slimmenu {

    margin: 0;
    padding: 0;
    list-style-type: none
}

ul.slimmenu:before, ul.slimmenu:after {
    content: '';
    display: table
}

ul.slimmenu:after {
    clear: both
}

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li > ul {
    position: static;
    display: none
}

ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li .sub-toggle {
    height: 40px
}

ul.slimmenu li {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 20px;

}

ul.slimmenu li:last-child {

    margin-right: 0px;

}

ul.slimmenu li ul {
    margin: 0;
    list-style-type: none
}

ul.slimmenu li ul li {
    background: rgba(255, 255, 255, 1);
    width: 240px;
    padding-left: 8px;

}

ul.slimmenu li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    display: none;

    padding-left: 0px;
    border-top: 1px solid #C40D11;

}

ul.slimmenu li > ul > li ul {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    display: none;
    width: 100%
}

ul.slimmenu li a {
    display: block;
    padding: 5px;
    color: #323232;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

ul.slimmenu li ul li a {
    padding: 2px;
    line-height: 30px;
}

ul.slimmenu li a:hover {
    text-decoration: none;
    color: #C40D11;

}

.mmx-angle-down:before {
    color: #000;
    content: '';
    background-image: url(../img/ico-down.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

}

.mmx-angle-right {
    display: inline-block;
    float: right;
}

.mmx-angle-right:before {
    color: #000;
    content: '';
    background-image: url(../img/ico-down.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    -webkit-transform: rotate(265deg);

}

ul.slimmenu li .sub-toggle > i {
    display: none;
}

.mmx-top {
    line-height: 46px;
}

ul.slimmenu > li:first-child, ul.slimmenu > li.has-submenu + li {
    border-left: 0
}

.alt-submenu {
    margin-top: -1px !important;
    border-left: 2px solid transparent;
    width: 200px;
}

.mmx-search {
    cursor: pointer;
    margin-left: 10px;
}

.mmx-search:before {
    color: #000;
    content: '';
    background-image: url(../img/ico-search.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: sub;

}

.mmx-searh-content {
    background: rgba(255, 255, 255, 0.90);
    height: auto;
    border-top: 1px solid #C40D11;
    display: none;

}

.mmx-searh-content input {
    width: 100%;
    border: none;
    background: transparent;
    text-align: center;
}

.mmx-searh-content input:focus {
    outline: none;
    border: none;

}

.carousel-caption {
    top: 40%;

}

.carousel-caption h3 {
    color: #C40D11;
}

.mmx-pre-caption-hover {
    background: #C40D11;
    display: block;
    width: 100%;
    cursor: pointer;
    z-index: 98;
    position: relative;
}

.mmx-pre-caption-hover:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgba(29, 29, 29, 0.40);
}

.mmx-caption-block {
    display: block;
    width: 100%;
    position: relative;

}


.mmx-pre-caption-hover:before {
    color: #fff;
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.mmx-pre-caption-hover:hover:before, .mmx-pre-caption-hover:focus:before {
    background: #C40D11;
    height: 4px;
    width: 100%;
    z-index: 99;
}

.mmx-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.mmx-banner:after {
    content: '';
    position: absolute;
    z-index: 97;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);

}

.mmx-title {
    position: absolute;
    text-align: center;
    z-index: 97;
    top: 20%;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.mmx-b-title {
    color: #fff;
    font-size: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.mmx-b-title:after {
    content: '';
    background: #C40D11;
    width: 10%;
    height: 2px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 2px;
}


.mmx-bread-crumb {
    padding: 0;
}

.mmx-bread-crumb > li a {
    color: #fff;
    font-size: 0.8rem
}

.mmx-bread-crumb > li a:hover {
    text-decoration: none;
}

.mmx-bread-crumb > li:last-child a {
    color: #C40D11;
}

.mmx-bread-crumb > li {
    list-style: none;
    display: inline-block;
}

.mmx-bread-crumb > li:after {
    content: '/';
    display: inline-block;
    color: #fff;
    font-size: 0.8rem

}

.mmx-bread-crumb > li:last-child:after {
    content: '';
}

.general-content h1 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.general-content h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.general-content {
    margin: 30px auto;
}

.general-content p {
    font-size: 0.9rem;
}

.mmx-two-prg {
    font-size: 1.4rem;
}

.mmx-counter {
    font-size: 1rem;
    height: 150px;
    text-align: center;
    font-weight: bold;
}

.counter {
    position: relative;
    font-size: 3.2rem;
    text-align: left;
    font-weight: bold;
    padding: 1.2rem;
    z-index: 98;

}


.counter:after {
    content: '+';
    display: inline-block;
    font-size: 2rem;
    margin-left: 10px;
}

.mmx-span1:after {
    content: '';
    border: 1px solid #000;
    position: absolute;
    width: 20%;
    left: -1px;
    top: 0px;
    margin-left: 15px;
}

.mmx-span1:before {
    content: '';
    border: 1px solid #000;
    position: absolute;
    width: 20%;
    top: 28px;
    left: -30px;
    -webkit-transform: rotate(90deg);
    margin-left: 15px;
}

.mmx-span2:after {
    content: '';
    border: 1px solid #000;
    position: absolute;
    width: 20%;
    right: -1px;
    bottom: 0px;
    margin-right: 15px;
}

.mmx-span2:before {
    content: '';
    border: 1px solid #000;
    position: absolute;
    width: 20%;
    bottom: 28px;
    right: -30px;
    -webkit-transform: rotate(90deg);
    margin-right: 15px;

}

.ico-counter1:after {
    content: '\f3c5';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 0;
    font-size: 4.3rem;
    color: #efefef;
}

.ico-counter2:after {
    content: '\f0c0';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 0;
    font-size: 4.3rem;
    color: #e6e6e6;
}

.mmx-ref-box {
    cursor: pointer;
    height: 230px;
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
}


/*----- Line Box -----*/


.mmx-line-5::after {
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.mmx-line-5 span::after {
    right: 0;
    top: 0;
    transition-duration: 0.4s;
}

.mmx-line-5::before {
    right: 0;
    top: 0;
    transition-duration: 0.4s;
}

.mmx-line-5 span::before {
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.mmx-line-5::before, .mmx-line-5::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.3s linear;
    background: #C40D11;
}

.mmx-line-5 span::before, .mmx-line-5 span::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.3s linear;
    background: #C40D11;
}

.mmx-line-5:hover::before, .mmx-line-5:hover::after {
    width: 100%;
}

.mmx-line-5:hover span::before, .mmx-line-5:hover span::after {
    height: 100%;
}

.mmx-address {
    background: #F1F1F1;
    border-radius: 10px;
    padding: 35px;
}

.mmx-address h3:after {
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #C40D11;

}

.mmx-address ul {
    padding: 0px;
}

.mmx-address ul > li {
    list-style: none;
    font-weight: 700;
}

.mmx-address ul > li p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 20px;
}

.mmx-address ul > li svg {
    color: #C40D11;
    font-size: 0.7rem;
    margin-right: 5px;
}


.mmx-address h3 {
    font-weight: 700;
    margin-bottom: 2rem;
}


.form-wrapper {
    width: 100%;

}

.form-wrapper .form-group {
    position: relative;

}

.form-group + .form-group {
    margin-top: 30px;
}

.form-wrapper .form-label {
    position: absolute;
    left: 15px;
    top: 10px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: 0.75em;
}

.form-wrapper .form-input {
    position: relative;
    padding: 10px 0px 10px 0;
    width: 100%;
    outline: 0;
    border: 0;
    text-indent: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}

.form-input:focus {
    box-shadow: 0 1px 0 0 #C40D11;
}

.form-input.filled {
    box-shadow: 0 1px 0 0 #C40D11;
}

.form-wrapper textarea {
    height: 150px;
}

.form-wrapper h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

.form-wrapper h5:after {
    content: "";
    width: 40px;
    height: 2px;
    display: inline-block;
    background: #C40D11;

}

.form-wrapper p {
    font-size: 0.8rem;

}

.ul-menu-one li {
    list-style: none;
    display: inline-block;
    width: 45%;
}

.ul-menu-two {

    padding: 0px;
}

.ul-menu-two li {
    list-style: none;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.ul-menu-one li:before, .ul-menu-two li:before {
    content: '';
    background: #C40D11;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.free-cap {
    position: absolute;
    top: 82px;
    z-index: 98;
    right: 10%;
    background: #C40D11;
    width: 150px;
    height: 36px;
    text-align: center;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
}

.free-cap:hover {
    background: #585855;
    color: #fff;
    text-decoration: none;

}

.mmx-search-page {
    margin: 0rem;
    padding: 0rem;
}

.mmx-search-page li {
    list-style: none;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    transition: all 1s;
}

.mmx-search-page li:hover {

    border: 1px solid #323232;

}

.mmx-search-page li a {
    width: 100%;
    display: inline-block;
}

.mmx-search-page li a p {
    margin-bottom: 0px;
    font-size: 1.2rem;
    color: #585855;
}

.mmx-search-page li a span {
    color: #C40D11;
    font-size: 0.7rem;

}

.mmx-search-page li a:hover {
    text-decoration: none;
}

.mmx-navigation li a {
    border: 1px solid #f3f3f3;
    font-size: 0.9rem;
    color: #323232;
}

.a-form {
    font-weight: bold;
    color: #C40D11;
}

.a-form:hover {
    text-decoration: none;
    color: #585855;
}

.img-file {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    color: transparent;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #e5e5e5;
}

.file-holder {
    position: absolute;
    top: 14px;
    left: 30%;
    color: #6f6f6f;
}

.mmx-sort {
    background: #ececec;
    padding: 8px;
    margin-bottom: 30px;
}

.mmx-sort p {
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: sub;
}

.modal-open {
    padding-right: 0px !important;
}

.sidebar-navigation {
    width: 100%;
    height: auto;
    background-color: #fff;

}

.sidebar-navigation .title {
    display: block;
    font-size: 1.1em;
    background-color: #6b757d;
    padding: 10px;
    color: #fff;
    font-weight: 500;

    transition: 1s all;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar-navigation .title:hover {
    text-decoration: none;
    color: #fff;
    background-color: #585855;

}

.sidebar-navigation > ul > li > a {

}

.sidebar-navigation ul {
    margin: 0;
    padding: 0;
}

.sidebar-navigation ul li {
    display: block;
}

.sidebar-navigation ul li a {
    position: relative;
    display: block;
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    color: #323232;

    letter-spacing: .02em;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.sidebar-navigation ul li a em {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 50%;
}

.sidebar-navigation ul li:hover > a, .sidebar-navigation ul li.selected > a {
    background-color: #ecf0f1;
    color: #495d62;
    border-color: rgba(255, 255, 255, 0.1);
    padding-left: 5px;
}

.sidebar-navigation ul li ul {
    display: none;
}

.sidebar-navigation ul li ul.open {
    display: block;
}

.sidebar-navigation ul li ul li a {
    color: #495d62;
    border-color: rgba(255, 255, 255, 0.1);
}

.sidebar-navigation ul li ul li a:before {
    content: '';
    width: 6px;
    height: 3px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #495d62;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.sidebar-navigation ul li ul li:hover > a, .sidebar-navigation ul li ul li.selected > a {
    background-color: #e6ebed;
}

.sidebar-navigation ul li ul li:hover > a:before, .sidebar-navigation ul li ul li.selected > a:before {
    margin-right: 10px;
}

.sidebar-navigation ul li ul li.selected.selected--last > a {
    background-color: #94aab0;
    color: #fff;
}

.sidebar-navigation ul li ul li.selected.selected--last > a:before {
    background-color: #fff;
}

.subMenuColor1 {
    background-color: #fbfcfc;
}

.subMenuColor2 {
    background-color: #ffff;
}

.mmx-link {
    color: #C40D11;
}

.mmx-link:hover {
    color: #323232;
}


#main-carousel .carousel-item:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgba(29, 29, 29, 0.60);
}

.mmx-form {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    width: 300px;
    position: absolute;
    padding: 15px;
    right: 8%;
    top: 15%;
    z-index: 98;
}

.mmx-form.modal-form {

    border-radius: 10px;
    width: 300px;
    position: initial !important;
    padding: 15px;
    margin: 0 auto;

}

.mmx-form h1 {
    font-size: 1.4rem;
}

.mmx-form .form-group {
    margin-top: 1rem;
}

.mmx-form .btn-submit {
    width: 150px;
    margin: 0 auto;
    background: #C40D11;
    border-color: #C40D11;
}

.mmx-form .btn-submit:hover {
    border-color: #585855;
    background: #585855;
}

.mmx-form .form-group input {
    height: 40px;
}

.mmx-form .form-check {
    cursor: pointer;
    font-size: 0.8rem;
}

.mmx-form .form-check .form-check-label {
    cursor: pointer;
}

.mmx-form .form-check .form-check-label:hover {
    color: #C40D11;
}

.mmx-private p {
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.mmx-form .safe {
    font-size: 0.8rem;
    margin-bottom: 4px;
    color: #1e7e34;
}

.mmx-form .safe svg {
    margin-right: 5px;
}
