/* Media Queries
/*-----------------------------------------------------------------------------------*/
.mmx-xs-iblock {
    display: inline-block;
}

@media (min-width: 1000px) {
    .mmx-xs-iblock {
        display: none;
    }
}

@media (max-width: 999px) {


    .mob-logo {
        position: absolute;
        left: 0px;
    }
}

@media (max-width: 768px) {
    .sec-title {
        font-size: 1.5rem;
    }

    .m-t4 {
        margin-top: 0rem
    }

    .on-pre.p1 {
        right: 5%;
        top: 25%;
        color: #C40D11;
        text-align: right;
    }

    .on-pre {
        width: 60%;
        position: absolute;
        z-index: 98;
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1rem;
    }
    .mx-mini-box .mini-box-txt p {
        color: #393939;
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .menu-collapser {
        width: 66.666667%;
    }
}
