<ul class="slimmenu">
    <li><a href="/">Anasayfa</a></li>
    <li><a href="#">Kurumsal<span class="mmx-angle-down"></span></a>
        <ul>
            <li><a href="/kurumsal/hakkimizda">Hakkımızda</a></li>
            <li><a href="/kurumsal/belge-ve-sertifikalar">Belge ve Sertifikalar</a></li>
            <li><a href="/kurumsal/referanslarimiz">Referanslarımız</a></li>
            <li><a href="/insan-kaynaklari">İnsan Kaynakları<span class="mmx-angle-down"></span></a>
                <ul>
                    <li><a href="/insan-kaynaklari/kariyer-olanaklari">Kariyer Olanakları</a></li>
                    <li><a href="/insan-kaynaklari/aranilan-nitelikler">Aranılan Nitelikler</a></li>
                    <li><a href="/insan-kaynaklari/is-basvuru-formu">İş Başvuru Formu</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#">Faaliyet Alanlarımız<span class="mmx-angle-down"></span></a>
        <ul>
            <li><a href="/kategori/yangin-ve-gaz-algilama-sistemleri">Yangın ve Gaz Algılama
                Sistemleri</a></li>
            <li><a href="/kategori/kamera-sistemleri">Kamera Sistemleri</a></li>
            <li><a href="/kategori/diger-zayif-akim-teknolojileri">Diğer Zayıf Akım
                Teknolojileri</a></li>
        </ul>
    </li>
    <li><a href="/hizmetlerimiz">Hizmetlerimiz<span class="mmx-angle-down"></span></a>
        <ul>
            <li><a href="/hizmetlerimiz/kesif-danismanlik-ve-projelendirme">Keşif Danışmanlık ve Projelendirme</a></li>
            <li><a href="/hizmetlerimiz/anahtar-teslim-uygulama">Anahtar Teslim Uygulama</a></li>
            <li><a href="/hizmetlerimiz/servis-bakim-ve-periyodik-bakim">Servis & Bakım ve Periyodik Bakım</a></li>
        </ul>
    </li>
    <li><a href="/iletisim">İletişim</a></li>
</ul>